@import url("https://fonts.googleapis.com/css2?family=Chewy&family=Homemade+Apple&family=Istok+Web:ital,wght@0,400;0,700;1,400;1,700&family=Knewave&family=Open+Sans:ital@0;1&family=Passion+One:wght@400;700;900&family=Paytone+One&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&display=swap");

body {
  font-family: "Open Sans", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  position: fixed;
  z-index: 100;
  display: flex;
  align-items: center;
  background-color: #ffd801;
  width: 100%;
  height: 7vh;
  margin: 0;
  padding: 0;
  top: 0;
  left: 0;
}

.search-container {
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 5rem;
  position: absolute;
  z-index: 10;
  top: 4rem;
  background-color: #ffd801;
}

.search-input {
  width: 15rem;
  height: 2rem;
  border-radius: 8px;
  border-color: #9a9a9a;
  margin-right: 0.5rem;
  font-family: "Open Sans", sans-serif;
  font-size: 1rem;
  padding-left: 10px;
}

.search-input::placeholder {
  font-family: "Open Sans", sans-serif;
  font-size: 1rem;
}

.search-button {
  width: 7rem;
  height: 2rem;
  background-color: #ed821d;
  color: white;
  border-radius: 8px;
  border: none;
  font-family: "Passion One", sans-serif;
  font-size: 1.5rem;
}

.sidebar {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 15%;
  height: auto;
}
.sidebar > img {
  width: 50%;
}
.title-logo {
  margin-left: -5%;
  display: flex;
  width: 50%;
  height: 100%;
  align-items: center;
}
.title-logo {
  #duck-u-logo {
    width: 55%;
    height: auto;
    display: flex;
    align-items: center;
  }
  img {
    height: 80%;
  }
}
#sub-menu {
  height: 100%;
  width: 40%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-right: 0.8em;
  gap: 1.1em;
}

.header-icon {
  height: 40%;
  width: 16%;
}

#menu-mobile {
  display: none;
  position: inherit;
  top: 0;
  left: 0;
  width: 80vw;
  height: 100vh;
  background-color: #ffd801;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  z-index: 200;
}

#menu-mobile ul {
  height: 60vh;
  width: 100%;
  list-style-type: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-around;
}

#menu-mobile ul li {
  height: 7vh;
  width: 100%;
  font-family: "Passion One", sans-serif;
  font-weight: 400;
  font-size: 1.8rem;
  color: #392f5a;
  display: flex;
  align-items: center;
}

#close-menu {
  align-self: flex-end;
  width: 10%;
  height: auto;
  margin: 5% 5% 25% 0;
}

.duck-list-icon {
  margin-left: 10%;
  width: 8vw;
  height: 3.5vh;
}
li:active {
  background-color: rgba(237, 130, 29, 0.5);
}
.category {
  margin-left: 5%;
}

.count-products{
  position: absolute;
  top: 50%;
  right: 0.3rem;
  background-color: #fff;
  color: #000;
  font-weight: 500;
  width: 1.5rem;
  height: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

#contador-productos {
  font-size: 12px;
}

.container-cart-products {
  position: absolute;
  top: 8vh;
  background-color: #fff;
  width: 85vw;
  z-index: 1;
  box-shadow: 0 -25px 25px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
}

.cart-product {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.25);
}

.info-cart-product {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex: 0.95;
}

.titulo-producto-carrito {
  font-size: 5.5vw;
  font-weight: 550;
}

.precio-producto-carrito {
  font-weight: 600;
  font-size: 5.8vw;
  margin-left: 1vw;
}

.cantidad-producto-carrito {
  font-weight: 500;
  font-size: 5.5vw;
}

.icon-close {
  width: 7.5vw;
  height: 3.5vh;
  margin-left: 2.5vw;
}

.carrito-img {
  width: 11vw;
  height: 5vh;
}
