<!DOCTYPE html>
<html>
<head>
    <title>"Duck U". Rubber ducks online shop.</title>
    <link rel="stylesheet" href="sidebar.css" />
</head>
<body>
    <header>
        <div class="sidebar">
            <img id="sidebar-icon" src="../../assets/icons/menu-icon.png" alt="menu-selector"/>
        </div>
            <nav id="menu-mobile" >
                <ul>
                    <img id="close-menu" src="../../assets/icons/exit-icon.png"/>
                    <li class="hover-list">
                        <img class="duck-list-icon" src="../../assets/icons/duck-icon.png">
                     <a class="category category1"  >CULTURA POP</a>
                    </li>
                    <li class="hover-list"><img class="duck-list-icon" src="../../assets/icons/duck-icon.png"><a class="category category2" >ARTISTAS</a></li>
                    <li class="hover-list"><img class="duck-list-icon"src="../../assets/icons/duck-icon.png"><a class="category category3" >PELÍCULAS</a></li>
                    <li class="hover-list"><img class="duck-list-icon" src="../../assets/icons/duck-icon.png"><a class="category category4" >PROGRAMACIÓN</a></li>
                    <li class="hover-list"><img class="duck-list-icon" src="../../assets/icons/duck-icon.png"><a class="category category5" >VER TODOS</a></li>  
                </ul>
            </nav>
            <div class="title-logo">
                <img id="logo"src="../../assets/icons/header-footer-duck-icon.png"/>
                <h1>Duck U</h1>
            </div>
            <div id="sub-menu">
                <img class="header-icon"  id="search-icon" src="../../assets/icons/magnifying-glass-icon.png" alt="magnifying-glass-icon" />
                <img class="header-icon"  id="search-icon" src="../../assets/icons/favorites-icon.png" alt="magnifying-glass-icon" />
                <img class="header-icon" id="car-icon" src="../../assets/icons/car-icon.png" alt="shopping-car-icon"/>
            </div>
    </header>

   
     
     
   
</body>
</html>

<script src="sidebar.js"></script>