<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../header/header.css">
    <link rel="stylesheet" href="../footer/footer.css">
    <link rel="stylesheet" href="../cardsProducts/cardsProducts.css">
    <link rel="stylesheet" href="../product-view/sliderproduct-view.css">
</head>
<body>

   <script src="../header/header.js"></script>
   <script src="../cardsProducts/cardLproducts.js"></script>
    <section id="cardSlider">
        
        <script src="../product-view/sliderproduct-view.js"></script>
    </section>
    
    <script src="../footer/footer.js"></script>
  <script src="../shoppingCart/shoppinCart.js"></script>
  <script src="../../pages/catalogPage/view.js"></script>
  <script src="../../filter-json.js" ></script>
    
</body>
</html>