@import url("https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


/*#region header*/

.header-container {
  position: relative;
 
}

.header-image {
  height: 70vh;
  width: 100vw;
  
}

.header-overlay-elements {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 20vh;
  /* border: 1px solid blue; */
  letter-spacing: 0.3rem;
}

.header-text {
  width: 90%;
  position: absolute;
  top: 20%;
  left: 8%;
  text-align: left;
  font-family: "Passion One", sans-serif;
  color: #ffd801;
}

.header-text1 {
  font-size: 3rem;
  text-shadow: 2px 2px 4px rgba(20, 0, 0, 0.5);
}

.header-text2 {
  font-size: 2.5rem;
  text-shadow: 2px 2px 4px rgba(20, 0, 0, 0.5);
}

.header-button {
  position: absolute;
  top: 80%;
  left: 8%;
  text-align: left;
  font-size: 1rem;
  background-color: #ffd801;
  color: #392f5a;
  padding: 0.6rem 1.3rem;
  font-weight: bolder;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  font-family: "Open Sans", sans-serif;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.header-button:hover {
  color: #ed821d;
}


main{
  margin-top: 10%;
}

/*#endregion*/

/*#region most sold*/

.most-sold-section {
  height: 50vh;
}

.most-sold-title {
  height: 12vh;
  gap: 0.5rem;
  font-family: "Open Sans", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #392f5a;
}

.most-sold-title1 {
  font-size: 1.3rem;
}

.most-sold-title2 {
  font-size: 1.7rem;
}

.most-sold-carousel {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
  overflow-x: scroll;
  scrollbar-width: none;
  margin: 1rem;
}

.most-sold-item {
  flex: 0 0 calc(50% - 0.75rem); /* 50% del ancho menos el espacio entre tarjetas */
  max-width: calc(
    50% - 0.75rem
  ); /* Asegura que las tarjetas no superen el 50% del ancho */
  font-family: "Open Sans", sans-serif;
}

.product-image {
  width: 100%;
  object-fit: cover;
}

.product-name {
  font-weight: bold;
  font-size: 1.3rem;
  margin-bottom: 0.5rem;
}

.product-price {
  font-size: 1rem;
  color: #ed821d;
}

/*#endregion*/

/*#region categories*/

.category-section {
  height: 50vh;
}

.category-grid-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.category-grid-item {
  padding: 1rem;
}

.category-grid-name {
  font-family: "Passion One", sans-serif;
  font-size: 1.5rem;
  color: white;
  display: flex;
  justify-content: center;
}

.category-grid-item:nth-child(1) {
  background-color: #afe9bf;
}

.category-grid-item:nth-child(2) {
  background-color: #afd2e9;
}

.category-grid-item:nth-child(3) {
  background-color: #ff9e77;
}

.category-grid-item:nth-child(4) {
  background-color: #e98fff;
}

.category-grid-item img {
  max-width: 80%;
  height: auto;
}

/*#endregion*/

body{
    margin: 0;
}
  
#duck-footer{
    /* background-color: #FFD801; */
    height: 35%;
    display: flex;
    justify-content: flex-end;
    margin-right: 10vw;
    margin-top: 10vh;
}
#duck-text-box{
    background-color: #FFD801;
    width: 60%;
    height: 10%;
}

#duck-text-box p{
    border: 3px solid white;
    font-size: 0.9rem;
    margin-left: 5%;
    margin-right: 5%;
    text-align: center;
    font-family: 'Open Sans';
    font-weight: bold;
    padding: 3%;
    
}
#duck-img{
    margin-top: -10%;
    bottom: 0;
    width: 50%;
    height: 50%;
    z-index: 0;
    
}

#footer-div{
    
    background-color: #FFD801;
    width: 100vw;
    z-index: 1;
    position: relative;
}

#social-media{
    margin-top: -17%;
    padding-top: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}


#social-media img{
    max-width: 45%; /* Establecer un ancho máximo para las imágenes */
    height: auto; 
    margin-left: 10%;
    

}

#social-media a {
    font-size: 0;
    margin-right: -10%;
}

#page-information{
    font-family: 'Open Sans';
    font-weight: 600;
    margin-left: 5%;
    margin-right: 5%;
    text-align: center;
    margin-bottom: 10%;
    padding-bottom: 5%;
    font-size: 0.85rem;
}
/*#endregion*/