form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h2{
    color:  #FFD801;
    font-family: "Passion One", sans-serif;
    font-size: 3.70vh;
    dis 
}
