
    <form>
        <h2>NUEVO PRODUCTO</h2>
        <div class="image-submit-content">
            <div class="empty-image-user"></div>
            <input type="file" name="image1" >AÑADIR IMÁGENES</button>
        </div>
        <section class="form-data-content">
            <input type="text" name="title" />
            <div class="category-price">
                <select type="number" name="category">
                    <option>CULTURA POP</option>
                    <option>ARTISTAS</option>
                    <option>PELÍCULAS</option>
                    <option>PROGRAMACIÓN</option>
                </select>
                <input type="numnber" name="price"/>
            </div>
                <input type="text" name="description"/>
        </section>
        <button type="submit">PUBLICAR</button>
        <input type="number" name="stock" min="1"/>
    </form>    
*{
    margin: 0;
    padding: 0;
}

body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h2{
    color:  #FFD801;
    font-family: "Passion One", sans-serif;
    font-size: 3.70vh;

}