*{
  margin: 0;
  padding: 0;
}
body{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 5px;
  height: 90vh;
  width: 80vw;
}
.titleProduct{
  color:  #FFD801;
  font-family: "Passion One", sans-serif;
  font-size: 3.70vh;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.empty-image-userview{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 40vh;
}
.form-data-content{
  height: 30%;
}

.field {
  width: 18.75rem;
  background-color: #FFEF99;
  height: 2rem;
  margin-top: 15px;
  border-radius: 10px;
  border:0;
}
.fieldDescription {
    width: 18.75rem;
    background-color: #FFEF99;
    height: 5rem;
    border-radius: 10px;
    margin-top: 15px;
    border:0;
}

#category-price {
  display: flex;
  flex-direction: row;
  margin-top: 15px;
  width: 18.75rem;
  background-color: #FFEF99;
  height: 2rem;
  border-radius: 10px;
  border:0;
}

#publicarButton 
{margin-top: 25px;
  margin-bottom: 25px;
  font-size: larger;
  font: bold;
  border-radius: 25px;
  padding: 20;
  background-color: #FFD801;
  color: #392F5A;
  height: 50px;
  width: 150px;
  border: 0;
}

#actualizarButton 
{margin-top: 25px;
  margin-bottom: 25px;
  font-size: larger;
  font: bold;
  border-radius: 25px;
  padding: 20;
  background-color: #FFD801;
  color: #392F5A;
  height: 50px;
  width: 150px;
  border: 0;
}

