<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="cardsProducts.css">
</head>
<body>
    <section> 
        <div class="cardS">
       <!--<button class= "fav"> <img src="imgDucksProducts/Favorite.svg"></button>-->
        <img class="cardS-image" src="./imgDucksProducts/front_london.jpg">
        <p class="card-title">London</p>
        <p class="price">8 €</p>
    </div>
</section>
   

    <div class="cardL">
        <div class="productImg+Fav">
            <img class= "front" src= "./imgDucksProducts/front_london.jpg">
            <button class= "fav"> img</button>
        </div>
        <div class="porductImgViewsContainer">
            <img class= "v1" src="./imgDucksProducts/v1_london.jpg">
            <img class= "v2" src=".img/imgDucksProducts/v2_london.jpg">
            <img class= "v3" src="imgDucksProducts/v3_london.jpg"></div>
        <div class="productTitleAmmountButton">
            <p class="card-tittle">London</p>
            <button class="buttonProductAmmount">- 1 +</button>
        </div>
    
        <p class="priceL">8 €</p>
        <p class= "product-description">Desde Londres este pato de goma viene cumpliendo todas las normativas de seguridad Europeas y puedes lamerlo sin riesgo y bañarte con él.</p>
        <div class="productButtonsContantiner">
            <button class="button-add-to-card"> Añadir a la cesta</button>
            <button class="button-buy-now"> Comprar Ahorra </button>
        </div>
    </div>
</body>
</html>