<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="cardsProducts.css">
</head>
<body>
   <!--<section> 
        <div class="cardS">
            <img id="favS" src="./imgDucksProducts/Favorite1.svg">
        <img class="cardS-image" src="./imgDucksProducts/front_london.jpg">
        <p class="card-title">London</p>
        <p class="price">8 €</p>
    </div>
</section>--> 
  <!--<section class="section-cardL">
    <div class="cardL">
    
        
    <div class="product-img-Fav-container">
        <img id="favL" src="./imgDucksProducts/Favorite1.svg">
        <img class= "front" src= "./imgDucksProducts/front_london.jpg">
    </div>
    <div class="porductImgViewsContainer">
        <img class= "v1" src="./imgDucksProducts/v1_london.jpg">
        <img class= "v2" src="./imgDucksProducts/v2_london.jpg">
        <img class= "v3" src="imgDucksProducts/v3_london.jpg">
    </div>
    <div class="product-title-ammount-button-contatiner">
        <p class="card-tittle">London</p>
        <button class="buttonProductAmmount">- 1 +</button>
    </div>

    <p class="priceL">8 €</p>
    <p class= "product-description">Desde Londres este pato de goma viene cumpliendo todas las normativas de seguridad Europeas y puedes lamerlo sin riesgo y bañarte con él.</p>
    <div class="productButtonsContantiner">
        <button class="button-add-to-card"> Añadir a la cesta <img src="./imgDucksProducts/+ button.svg" alt=""></button>
        <button class="button-buy-now"> Comprar Ahorra <img src="./imgDucksProducts/shopping card button.svg" alt=""></button>
    </div>
</div></section>--> 

<script src="cardsProducts.js"></script>
<script src="cardLproducts.js"></script>
</body>
</html>